<p class="display-4 fw-bold mb-4">Welcome!</p>

<p>
    <!-- *ngIf - great for CONDITIONAL RENDERING -->
    <!-- If the todolist is empty, display this message -->
  <!--<span *ngIf="todolist.length === 0">No todos available.</span>
     If the todolist is not empty, display this message -->
    
<!-- *ngIf - great for CONDITIONAL RENDERING -->




<!-- PROPERTY BINDING - using the value of a variable in the TS to determine the value
 of an element's attribute -->

<p *ngIf="todoService.todolist.length === 0">No todos available.</p>
 
<div>
    
    <button (click)="toggleHideDiv()">Toggle to See TodoList</button>
    <p [hidden]="hideDiv"
    (mouseover)="isHovered(true)" (mouseout)="isHovered(false)"
    [style.color]="color"
    class="fs-3 fw-semibold mt-3"> 
        You have {{ todoService.todolist.length }} todo items!</p>
    
 </div>