<p>dashboard works!</p>

<p>
    <!-- *ngIf - great for CONDITIONAL RENDERING -->
    <!-- If the todolist is empty, display this message -->
  <!--<span *ngIf="todolist.length === 0">No todos available.</span>
     If the todolist is not empty, display this message -->
    
<!-- *ngIf - great for CONDITIONAL RENDERING -->




<!-- PROPERTY BINDING - using the value of a variable in the TS to determine the value
 of an element's attribute -->

 <p (mouseover)="isHovered(true)" (mouseout)="isHovered(false)" 
 [style.color]="color">
 You have {{ todoService.todolist.length }} todo items!
 </p>
<div>
    
    <button (click)="toggleHideDiv()">Toggle Div</button>
    <p [hidden]="hideDiv">Hi, I'm a div that was on and off to show.</p>
    
 </div>