<!-- app.component.html is the main HTML file we'll use to render the view (what the user sees)-->

<p style="border-bottom: 4px solid black; font-size: 3em">My Todo List</p>

<!--  This lets us achieve Routing, which we need to dynamically display components-->


<!--Statically render the Dashboard component-->
<!-- <app-dashboard />
<router-outlet /> -->

<app-nav />

 <router-outlet></router-outlet>



 <style>
  nav a {
    text-decoration: none;
    color: blue;
    margin: 0 10px;
    cursor: pointer;
  }
  nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }
</style>
<!-- This is where the routed components will be displayed -->